/*
0-600px         Phone
600-900px       Tablet portrait
900-1200px      Tablet landscape
1200-1600       Desktop
1600px +        Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: base + typography + general layout + page layout + components

*/
@keyframes menu {
  0% {
    transform: translateX(0); }
  33% {
    transform: translateX(3rem); }
  66% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(2rem); } }

@keyframes hire {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #330867, #5997fb);
  display: flex;
  align-items: center;
  justify-content: center; }

.heading-primary {
  font-size: 7rem;
  line-height: 7rem; }
  .heading-primary--top, .heading-primary--bot {
    display: block; }
  .heading-primary--bot {
    font-weight: 100; }

.header__text-paragraph {
  display: inline-block;
  font-size: 1.4rem; }
  .header__text-paragraph:not(:last-child) {
    margin-right: 5rem; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 400; }

.heading-ternary--after {
  font-weight: 400; }

.paragraph {
  margin-top: 1rem; }

.text-bold {
  font-weight: 700; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.btn, .btn:link, .btn:visited {
  font-weight: 700;
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  border-radius: 3px;
  transition: all .4s;
  font-size: 1.4rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: scale(1);
  box-shadow: 0 1rem 2rem rgba(31, 33, 38, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(31, 33, 38, 0.2); }

.btn-blue {
  position: relative;
  background-color: #304ffe;
  color: #ffffff; }
  .btn-blue::before {
    content: "";
    width: 0;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: #304ffe;
    transition: all .4s; }
  .btn-blue:hover {
    color: #304ffe; }
  .btn-blue:hover::before {
    width: 100%;
    z-index: -1; }

.btn-portfolio {
  position: absolute;
  right: 0;
  bottom: 0; }
  .btn-portfolio, .btn-portfolio:link, .btn-portfolio:visited {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 3px 0 0 0;
    color: #1f2126;
    box-shadow: -0.5rem -0.5rem 4rem -1rem rgba(31, 33, 38, 0.15); }
  .btn-portfolio::before {
    content: "";
    width: 0;
    height: 100%;
    border-radius: 3px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #304ffe;
    color: #ffffff;
    transition: all .4s; }
  .btn-portfolio:hover {
    color: #ffffff; }
  .btn-portfolio:hover::before {
    width: 100%;
    z-index: -1; }

.btn-inline, .btn-inline:link, .btn-inline:visited {
  color: #ee0808;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
  display: inline-block;
  border-radius: none;
  transition: all .4s;
  font-size: 1.4rem;
  border: none; }

.btn-inline::after {
  content: "\3009";
  margin-left: .5rem;
  font-size: 1.4rem;
  font-weight: 700; }

.btn-inline:hover {
  box-shadow: none; }

.btn-chat, .btn-chat:link, .btn-chat:visited {
  color: #4b4f5d;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 5rem 0 0 0;
  display: block;
  border-radius: 5px;
  transition: all .4s;
  font-size: 1.5rem;
  border: none; }

.btn-chat:hover {
  color: #1f2126;
  box-shadow: none; }

.clients {
  border-radius: 3px;
  box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
  margin: 0;
  height: 65rem;
  transition: all .4s;
  display: flex;
  flex: 0 0 49%;
  flex-direction: column; }
  .clients__brands {
    background-color: #ffffff;
    border-radius: 3px 3px 0 0;
    padding: 2rem;
    height: 50%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .clients__brands-box {
      max-width: 30%; }
    .clients__brands-photo {
      width: 100%; }
  .clients__testimonials {
    background-color: #304ffe;
    border-radius: 0 0 3px 3px;
    height: 50%;
    padding: 5rem 6rem; }
    .clients__testimonials-quote {
      background-color: #ffffff;
      color: #4b4f5d;
      border-radius: 4px;
      padding: 2.5rem 3.5rem;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
      line-height: 1.8;
      position: relative; }
      .clients__testimonials-quote::before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 70%;
        bottom: -32px;
        border: 32px solid;
        border-color: transparent transparent transparent #ffffff; }
    .clients__testimonials-client {
      margin-top: 4rem;
      display: flex;
      justify-content: left;
      align-items: center; }
    .clients__testimonials-photo {
      border-radius: 50%;
      margin: 0 2rem 0 3.5rem; }
    .clients__testimonials-name {
      font-weight: 700;
      line-height: 2; }
    .clients__testimonials-title {
      font-size: 1.3rem;
      font-weight: 700; }
  .clients:hover {
    transform: translateY(-3px); }

.portfolio {
  margin: 2.5rem 0 0 0;
  padding-bottom: 2rem;
  width: 23%;
  background-color: #ffffff;
  color: #1f2126;
  box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
  position: relative;
  overflow: hidden;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .portfolio {
      width: 33%; } }
  .portfolio__photo {
    transform: scale(1.05);
    transition: all .4s;
    max-width: 100%; }
  .portfolio__text {
    margin: 1.5rem;
    transition: all .4s; }
  .portfolio:hover .portfolio__text {
    color: #304ffe; }
  .portfolio:hover .portfolio__photo {
    transform: scale(1); }

.search__input {
  font-family: inherit;
  font-size: 2rem;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 1rem 0;
  border-radius: 100px; }
  .search__input:focus {
    outline: none; }
  .search__input::-webkit-input-placeholder {
    color: #ccc; }

.service {
  margin: 2.5rem 0;
  text-align: center;
  background-color: #ffffff;
  color: #1f2126;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
  width: 22%;
  transition: all .4s; }
  @media only screen and (max-width: 56.25em) {
    .service {
      width: 33%; } }
  .service__photo {
    padding: 5rem 0 3rem 0; }
  .service .heading-ternary {
    color: #304ffe;
    font-weight: 400; }
  .service .paragraph {
    margin: 3rem 2rem 5rem 2rem;
    font-size: 1.4rem;
    color: #4b4f5d; }
  .service:hover {
    transform: translateY(-3px); }

.skill {
  margin: 0;
  padding-bottom: 3rem;
  text-align: center;
  background-color: #ffffff;
  color: #1f2126;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
  transition: all .4s;
  width: 44.7%;
  height: 48%; }
  .skill__photo {
    padding: 5rem 0 3rem 0; }
  .skill .heading-ternary {
    color: #304ffe;
    font-weight: 400; }
  .skill .paragraph {
    margin: 3rem 2rem;
    font-size: 1.4rem;
    color: #4b4f5d; }
  .skill:hover {
    transform: translateY(-3px); }

.header {
  position: relative;
  height: 100vh;
  background: url(../img/arrow.png) left 10% top 5% no-repeat, url(../img/triangle.png) left 60% top 20% no-repeat, url(../img/curve.png) left 40% top 50% no-repeat, url(../img/line.png) left 70% top 45% no-repeat, url(../img/close.png) left 25% top 70% no-repeat, url(../img/arc.png) left 65% top 80% no-repeat, url(../img/square.png) left 90% top 85% no-repeat;
  background-size: 1%; }
  .header__box {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 300px; }
  .header__video {
    position: absolute;
    top: 50%;
    left: 50%; }
    .header__video-image {
      box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
      border-radius: 50%;
      transform: scale(0.8);
      transition: all .5s; }
    .header__video-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header__video:hover .header__video-image {
      transform: scale(0.85);
      filter: blur(2px); }
  .header__text {
    position: absolute;
    top: 0%;
    right: -10%;
    transform: rotate(90deg) translateX(50%); }

.navigation {
  z-index: 10;
  display: flex; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    display: none; }
    @media only screen and (max-width: 75em) {
      .navigation__button {
        display: block;
        background-color: #304ffe;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        left: 6rem;
        z-index: 9999;
        box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
        text-align: center;
        cursor: pointer; } }
  .navigation .element {
    width: 20vw; }
    @media only screen and (max-width: 75em) {
      .navigation .element {
        width: 0; } }
  @media only screen and (max-width: 75em) {
    .navigation__checkbox:checked ~ .sidebar {
      display: flex; } }
  @media only screen and (max-width: 75em) {
    .navigation__checkbox:checked ~ .element {
      width: 20vw; } }
  .navigation__icon {
    position: relative;
    margin-top: 2.8rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #ffffff;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }
  @media only screen and (max-width: 75em) {
    .navigation {
      position: fixed;
      background-color: #ffffff; } }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: transparent;
  width: 20%;
  height: 100vh;
  transition: color .5s .3s;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (min-width: 100em) {
    .sidebar {
      left: 50%;
      transform: translateX(-800px); } }
  @media only screen and (max-width: 75em) {
    .sidebar {
      display: none; } }
  .sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 1px;
    background-color: transparent;
    transition: width .4s .2s, background-color 1s;
    z-index: -5; }
  .sidebar:hover::before {
    background-color: #ffffff;
    width: 100%; }
  .sidebar:hover,
  .sidebar:hover .sidebar__nav-link:link,
  .sidebar:hover .sidebar__nav-link:visited {
    color: #1f2126; }
  .sidebar:hover .sidebar__nav-link:hover,
  .sidebar:hover .sidebar__nav-link:active {
    color: #304ffe; }
  .sidebar:hover .fa-facebook {
    color: #ffffff;
    background-color: #3b5998; }
  .sidebar__author {
    font-size: 1.8rem;
    text-align: center; }
    .sidebar__author-photo {
      border-radius: 50%;
      width: 80%;
      margin: 3rem 0;
      box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
      transition: all .5s; }
    .sidebar__author-photo:hover {
      transform: translateY(-5px); }
    .sidebar__author-name {
      font-weight: 700; }
    .sidebar__author-title {
      line-height: 3rem; }
  .sidebar__nav {
    margin-left: -1rem; }
    .sidebar__nav-item {
      list-style: none; }
    .sidebar__nav-link:link, .sidebar__nav-link:visited {
      color: #ffffff;
      text-decoration: none;
      display: block;
      padding: 2rem;
      display: flex;
      align-items: center;
      transition: color .5s .3s; }
      @media only screen and (max-width: 75em) {
        .sidebar__nav-link:link, .sidebar__nav-link:visited {
          color: #1f2126; } }
    .sidebar__nav-link:hover, .sidebar__nav-link:active {
      color: #f6ff00;
      transform: translateX(2rem);
      animation: menu 1s; }
    .sidebar__nav-link::after {
      content: "\3009\3009";
      margin-left: .7rem;
      letter-spacing: -2px;
      font-weight: 700;
      font-size: 1.2rem; }
    .sidebar__nav-social-link {
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
      background-color: transparent;
      transition: all .5s; }
      .sidebar__nav-social-link:not(:first-child) {
        margin-left: 1rem; }
    .sidebar__nav-social-link:hover {
      transform: translateY(-5px); }
  .sidebar::after {
    content: "";
    height: 100vh;
    width: 1px;
    background-image: linear-gradient(to bottom, #350eb7, #290b96);
    position: absolute;
    top: 0;
    right: 0;
    opacity: .3;
    transition: all .5s .2s; }
  .sidebar:hover::after {
    opacity: 0; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      background-color: #ffffff;
      color: #1f2126; } }

.sidebar__nav-social-icon.fab {
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 50%;
  transition: all 1s ease-out; }

.fa-google-plus-g {
  color: #ffffff;
  background-color: #f14033; }

.fa-facebook {
  color: #3b5998;
  background-color: #ffffff; }

.fa-dribbble {
  color: #ffffff;
  background-color: #e64b86; }

.fa-behance {
  color: #ffffff;
  background-color: #1a6ff8; }

.container {
  display: flex;
  max-width: 160rem;
  justify-self: center;
  background-image: linear-gradient(to bottom, #330867, #5997fb); }
  @media only screen and (min-width: 100em) {
    .container {
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); } }

.background {
  position: fixed;
  top: 28%;
  left: 0;
  width: 100vw;
  height: 72vh;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background-size: cover;
  z-index: 1; }

.hire-us {
  position: fixed;
  top: -12rem;
  right: 5rem;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #330867, #304ffe);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 0 2rem 4rem 0 rgba(31, 33, 38, 0.15);
  transition: all .4s ease-in;
  z-index: 20; }
  .hire-us__link, .hire-us__link:link, .hire-us__link:visited {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15rem;
    display: block;
    transition: all .4s;
    font-size: 1.4rem;
    border: none;
    cursor: pointer; }
  .hire-us::before {
    position: absolute;
    left: 0%;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 350%;
    transform: scale(0);
    background-color: #ffffff;
    color: #304ffe;
    transition: all .4s; }
  .hire-us:hover {
    color: #ffffff; }
  .hire-us:hover::before {
    transform: scale(1);
    z-index: -1;
    animation: hire .8s; }
  .hire-us:hover .hire-us__link {
    color: #304ffe; }
  @media only screen and (min-width: 100em) {
    .hire-us {
      right: 50%;
      transform: translateX(700px); } }

.content {
  z-index: 2; }

.section-heading {
  margin: 3rem 0; }

.section-portfolio {
  padding: 3rem 6rem 6rem 6rem; }
  .section-portfolio .portfolio-box {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap; }

.section-services,
.section-skills,
.section-contact {
  padding: 6rem; }

.section-services .services-box {
  display: flex;
  justify-content: space-between;
  justify-items: left;
  flex-wrap: wrap; }

.section-skills .skills-container {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .section-skills .skills-container {
      flex-direction: column; } }

.section-skills .skills-box {
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  justify-items: left;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  height: 65rem;
  width: 49%; }
  @media only screen and (max-width: 56.25em) {
    .section-skills .skills-box {
      width: 100%; } }

.section-contact .contact-box {
  display: flex; }

.section-contact .contact {
  width: 30%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 3rem; }
  .section-contact .contact__heading {
    padding: 3rem;
    color: #ffffff;
    background-color: #304ffe;
    border-radius: 5px 5px 0 0; }
  .section-contact .contact__details-box {
    padding: 3rem; }
  .section-contact .contact__details {
    position: relative;
    color: #1f2126;
    margin: 0 0 3rem 4rem; }
    .section-contact .contact__details-icon {
      position: absolute;
      top: 0;
      left: -5rem;
      font-size: 3rem;
      color: #304ffe; }
    .section-contact .contact__details .paragraph {
      font-size: 1.4rem; }
  .section-contact .contact__chat {
    color: #1f2126;
    text-align: center;
    box-shadow: -0.5rem -0.5rem 4rem -1rem rgba(31, 33, 38, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-contact .contact__chat-text {
      padding: 2rem;
      font-size: 1.4rem;
      flex: 1; }
    .section-contact .contact__chat-btn {
      position: relative;
      background-color: #ffd000;
      border-radius: 5px;
      height: 9rem;
      width: 9rem; }
    .section-contact .contact__chat-icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -2rem);
      font-size: 2rem; }

.section-contact .contact__map {
  border-radius: 5px;
  flex: 1; }

.author {
  margin: 1rem auto;
  text-align: center; }
