@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERIES 
/*
0-600px         Phone
600-900px       Tablet portrait
900-1200px      Tablet landscape
1200-1600       Desktop
1600px +        Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: base + typography + general layout + page layout + components

*/
@mixin respond($breakpoint) {
    @if $breakpoint == tiny {
        @media only screen and (max-width: 31.25em) { @content };        //500px
    }
    @if $breakpoint == sm {
        @media only screen and (max-width: 43.75em) { @content };        //700px
    }
    @if $breakpoint == med {
        @media only screen and (max-width: 62.5em) { @content };       //1000px
    }
    @if $breakpoint == lrg{
        @media only screen and (max-width: 75em) { @content };         //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 100em) { @content };         //1600px +
    }
}