// Colors

$color-white: #ffffff;
$color-black: #1f2126;
$color-grey: #4b4f5d;
$color-blue: #304ffe;
$color-blue-secondary: #2e2ed2;
$color-blue-light: #30cfd0;
$color-blue-dark: #330867;
$color-yellow: #f6ff00;

$color-google: #f14033;
$color-facebook: #3b5998;
$color-dribbble: #e64b86;
$color-behance: #1a6ff8;

$shadow-menu: 0 2rem 4rem 0 rgba($color-black, .15);