// Colors

$color-white: #ffffff;
$color-black: #1f2126;
$color-grey: #4b4f5d;
$color-blue: #304ffe;
$color-blue-secondary: #2828ee;
$color-blue-light: rgb(89, 151, 251);
$color-blue-dark: #330867;
$color-yellow: #f6ff00;
$color-yellow-dark :rgb(255, 208, 0);
$color-red: #ee0808;

$color-google: #f14033;
$color-facebook: #3b5998;
$color-dribbble: #e64b86;
$color-behance: #1a6ff8;

$shadow-menu: 0 2rem 4rem 0 rgba($color-black, .15);
$shadow-portfolio: -.5rem -.5rem 4rem -1rem rgba($color-black, .15);