.navigation {
    z-index: 10;

    display: flex;

    &__checkbox {
        display: none;
    }

    &__button {
        display: none;

        @include respond(lrg) {
            display: block;
            background-color: $color-blue;
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            position: fixed;
            top: 1rem;
            left: 1rem;
            z-index: 9999;
            box-shadow: $shadow-menu;
            text-align: center;
            cursor: pointer;
        }
    }

    .element {
        width: 20vw;

        @include respond(lrg) {
            width: 0;
        }
    }

    &__checkbox:checked ~ .sidebar {

        left: 0;

        @include respond(lrg) {
            display: flex;
        }
    }

    &__checkbox:checked ~ .element {
        
        @include respond(lrg) {
            width: 20vw;
        }
    }

    &__icon {
        position: relative;
        margin-top: 2.6rem;

        &,
        &::before,
        &::after {
            width: 2rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }        
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }

    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-135deg);
        top: 0;
    } 

    @include respond(lrg) {
        position: fixed;
        background-color: $color-white;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    color: $color-white;
    background-color: transparent;
    width: 20%;
    height: 100vh;
    transition: all .5s .3s;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include respond(big-desktop) {
        left: 50%;
        transform: translateX(-800px);
    }

    @include respond(lrg) {
        //display: none;
        //opacity: 0;
        left: -50rem;
    }

    @include respond(sm) {
        left: -75rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 1px;
        background-color: transparent;
        //transform: scaleY(.1s);
        transition: width .4s .2s, background-color 1s;
        z-index: -5;
    }

    &:hover::before {
        background-color: $color-white;
        //transform: scaleY(1);
        width: 100%;
    }
    
    &:hover,
    &:hover &__nav-link:link,
    &:hover &__nav-link:visited {
        color: $color-black;
    }

    &:hover &__nav-link:hover,
    &:hover &__nav-link:active {
        color: $color-blue;
    }

    &:hover .fa-facebook {
        color: $color-white;
        background-color: $color-facebook;
    }

    &__author {
        font-size: 1.8rem;
        text-align: center;

        &-photo {
            border-radius: 50%;
            width: 80%;
            margin: 3rem 0;
            box-shadow: $shadow-menu;
            transition: all .5s;
        }

        &-photo:hover {
            transform: translateY(-5px);
        }

        &-name {
            font-weight: 700;
        }

        &-title {
            line-height: 3rem;
        }
    }

    &__nav {
        margin-left: -1rem;

        &-item {
            list-style: none;
        }

        &-link:link,
        &-link:visited {
            color: $color-white;
            text-decoration: none;
            display: block;
            padding: 2rem;
            display: flex;
            align-items: center;
            transition: color .5s .3s;

            @include respond(lrg) {
                color: $color-black;
            }

            @include respond(med) {
               padding: 1.5rem;
            }

            @include respond(sm) {
                padding: 1rem;
            }
        }

        &-link:hover,
        &-link:active {
            color: $color-yellow;
            transform: translateX(2rem);
            animation: menu 1s;
        }

        &-link::after {
            content: "\3009\3009";
            margin-left: .7rem;
            letter-spacing: -2px;
            font-weight: 700;
            font-size: 1.2rem;
        }

        &-social-link {
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            box-shadow: $shadow-menu;
            background-color: transparent;
            transition: all .5s;

            &:not(:first-child) {
                margin-left: 1rem;
            }
        }

        &-social-link:hover {
            transform: translateY(-5px);
        }
    }

    &::after {
        content: "";
        height: 100vh;
        width: 1px;
        background-image: linear-gradient(to bottom, #350eb7, #290b96);
        position: absolute;
        top: 0;
        right: 0;
        opacity: .3;
        transition: all .5s .2s;
    }

    &:hover::after {
        opacity: 0;
    }

    @include respond(lrg) {
        background-color: $color-white;
        color: $color-black;
        width: 25%;
    }

    @include respond(med) {
        width: 33%;
    }

    @include respond(sm) {
        width: 100%;
    }
}

.sidebar__nav-social-icon.fab {
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: 50%;
    transition: all 1s ease-out;
}

.fa-google-plus-g {
    color: $color-white;
    background-color: $color-google;
}

.fa-facebook {
    color: $color-facebook;
    background-color: $color-white;

    @include respond(lrg) {
        color: $color-white;
        background-color: $color-facebook;
    }
}

.fa-dribbble {
    color: $color-white;
    background-color: $color-dribbble;
}

.fa-behance {
    color: $color-white;
    background-color: $color-behance;    
}