.clients {
    border-radius: 3px;
    box-shadow: $shadow-menu;
    margin: 1.5rem 0;

    display: flex;
    flex-direction: column;

    &__brands {
        background-color: $color-white;
        border-radius: 3px 3px 0 0;
        padding: 2rem;
        height: 50%;

        display: flex;
        justify-items: center;
        justify-content: space-around;

        flex-wrap: wrap;

        &-box {
            
        }
    }

    &__testimonials {
        background-color: $color-blue;
        border-radius: 0 0 3px 3px;
        height: 50%;
        padding: 8rem;

        &-quote {          
            background-color: $color-white;
            color: $color-grey;
            border-radius: 4px;
            padding: 2.5rem;
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 400;
        }
    }
}
