.portfolio {
    margin: 2.5rem 0 0 0;
    padding-bottom: 2rem;
    width: 23%;
    background-color: $color-white;
    color: $color-black;
    box-shadow: $shadow-menu;
    position: relative;
    overflow: hidden;
    transition: color .4s, opacity 1.5s;

    @include respond(med) {
        width: 33%;
    }

    @include respond(tiny) {
        width: 100%;
    }

    &__photo {
        transform: scale(1.05);
        transition: all .4s;
        width: 100%;
    }

    &__text {
        margin: 1.5rem;
        transition: all .4s;
    }     

    &:hover &__text {
        color: $color-blue;
    }   

    &:hover &__photo {
        transform: scale(1);
    }
}