.portfolio {
    margin: 2rem;
    background-color: $color-white;
    color: $color-black;

    flex: 0 0 auto;

    &__photo {
        width: 100%;
        height: auto;
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    
}