.portfolio {
    margin: 2.5rem 2.5rem 0 0;
    padding-bottom: 2rem;
    background-color: $color-white;
    color: $color-black;
    box-shadow: $shadow-menu;
    position: relative;
    overflow: hidden;
    transition: all .4s;

    &__photo {
        //width: 100%;
        height: auto;
        transform: scale(1.05);
        transition: all .4s;
    }

    &__text {
        margin: 1.5rem;
        transition: all .4s;
    }     

    &:hover &__text {
        color: $color-blue;
    }   

    &:hover &__photo {
        transform: scale(1);
    }
}