.service {
    margin: 2.5rem 0;
    text-align: center;
    background-color: $color-white;
    color: $color-black;
    border-radius: 3px;
    box-shadow: $shadow-menu;
    width: 22%;
    transition: all .4s;

    &__photo {
        padding: 5rem 0 3rem 0;
    }

    & .heading-ternary {
        color: $color-blue;
        font-weight: 400;
    }

    & .paragraph {
        margin: 3rem 2rem 5rem 2rem;
        font-size: 1.4rem;
        color: $color-grey;
    }

    &:hover {
        transform: translateY(-3px);
    }
}