.heading-primary {
    font-size: 7rem;
    line-height: 7rem;

    &--top,
    &--bot {
        display: block;
    }

    &--bot {
        font-weight: 100;
    }
}

.header__text-paragraph {
    display: inline-block;
    font-size: 1.4rem;

    &:not(:last-child) {
        margin-right: 5rem;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 400;
}

.heading-ternary {

    &--after {
        font-weight: 400;
    }
}

.paragraph {
    margin-top: 1rem;
}

.text-bold {
    font-weight: 700;
}